arrow==0.8.0
asgi-redis==0.14.1
asgiref==0.14.0
autobahn==0.16.0
blessed==1.9.5
botocore==1.4.57
cement==2.8.2
channels==0.17.2
colorama==0.3.7
daphne==0.15.0
Django==1.10.1
django-compat==1.0.13
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
future==0.15.2
jmespath==0.9.0
msgpack-python==0.4.8
pathspec==0.3.4
python-dateutil==2.5.3
PyYAML==3.12
redis==2.10.5
requests==2.9.1
semantic-version==2.5.0
six==1.10.0
texttable==0.8.4
Twisted==16.4.1
txaio==2.5.1
uWSGI==2.0.13.1
wcwidth==0.1.7
websocket-client==0.37.0
zope.interface==4.3.2
