arrow==0.14.2
asgi-redis==1.4.3
asgiref==3.1.4
autobahn==19.7.2
blessed==1.15.0
botocore==1.12.197
cement==3.0.4
channels==2.2.0
colorama==0.4.1
daphne==2.3.0
Django==2.2.9
django-compat==1.0.15
docker-py==1.10.6
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.1
future==0.17.1
jmespath==0.9.4
msgpack-python==0.5.6
pathspec==0.5.9
python-dateutil==2.8.0
PyYAML==5.1.1
redis==3.2.1
requests==2.22.0
semantic-version==2.6.0
six==1.12.0
texttable==1.6.2
Twisted==19.7.0
txaio==18.8.1
uWSGI==2.0.18
wcwidth==0.1.7
websocket-client==0.56.0
zope.interface==4.6.0
