<!DOCTYPE html>
<html>
    {% load staticfiles %}
    
    <head>
        <title>Johanna Dashboard</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/raynor.css' %}"/>
        <script src="{% static 'js/jquery/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/reconnecting/reconnecting-websocket.min.js' %}"></script>
        <script src="{% static 'js/raynor.js' %}"></script>
    </head>
    <body>
        {% include 'header.html' %}
        <div class='content-container'>
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>
